.btn{
    transition: 0.55s ease-in-out;
}
.btn:hover { /* Change background color on hover */
    transform: scale(1.1); /* Scale the button up on hover (pop up effect) */
    cursor: pointer;
}
.img-fluid {
    transition: 0.5s; 
    animation: boing 10s;
}

.img-fluid:hover {
    transform: translateY(-100px); 
}
@keyframes boing {
    0%{
        transform:translateX(-120%);
    }
    10%{
        transform:translateX(0%);
    }
    40%{
        transform:translateY(-100px);
    }
    60%{
        transform:translateX(0);
    }
    80%{
        transform:translateX(124%);
    }
    100%{
        transform:translateX(0%);
    }
    
}


#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    filter: blur(10px); /* Add a blur effect, adjust the value to control the blur intensity */
    opacity: 0.9; /* Adjust the opacity value (0.0 to 1.0) to control transparency */
    transition: filter 1.5s, opacity 1.5s; /* Add transitions for a smooth effect */
}

.fotter {
    display: flex;
    justify-content: center;
    gap:179px;
    transform:translateY(-20px);
}

.card {
    cursor: pointer;
    width:173px;
    height:120px;
    margin: 10px;
    text-align: center;
    background: rgba(255,255,255,0);
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: none; 
    position:relative;
}

.card:hover {
    transform: translateY(-10px) scale(1.15); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.229);
    
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.card button {
    position: absolute;
    margin-left: 0px;
    margin-right:0px;
    border:none;
    height: 27px;
    width: 173px;
    bottom: 0px; 
    border-radius:0px 0px 8px 8px;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.5s; 
    backdrop-filter: blur(5px);
}
.card:hover button{
    opacity:1;
}
.card:active{
    transform: scale(1.19);
}

.fotter button{
    background-color: rgba(255, 255, 255, 0.6);
}
#butt3{
    background-color: rgba(118, 118, 118, 0.34);
}

.border-bottom{
    margin-bottom: 0px;padding-bottom: 0px;
}
.goodfont{
    display:flex;
    justify-content: center;
    gap:4.3px;
    cursor:pointer;
    transition:0.35s ease-in-out;

}
.nigga{
    font:3px Instrument Sans, sans-serif;
    font-size: larger;
    color:rgb(124, 124, 124);
    transition:0.25s ease-in-out;
}
.nigga:hover{
    color:rgb(0, 0, 0);
    transform:translateY(-3px);
    /* transform:scale(1.1); */
}
.goodfont:hover{
    gap:7px;
}
.uwu{
    font: 700 48px Atkinson Hyperlegible, -apple-system, Roboto, Helvetica, sans-serif;
    cursor:default;
}
